//
//  Secrets.xcconfig.example
//  TrailMetrics
//
//  Created by Ali Roozbahani on 13.09.26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

GMS_API_KEY = YOUR_IOS_MAPS_API_KEY_HERE
INFOPLIST_KEY_GMSApiKey = $(GMS_API_KEY)
